{% extends 'base.html' %}

{% block content %}
	{% for catalog_item in catalog %}
		<div>
			<h2><a href="{% url 'catalog:detail' catalog_item.id %}">{{catalog_item.title}}</a></h2>
			<div>
				{{catalog_item.discription| truncatechars:200}}
			</div>
		</div>
	{% endfor  %}

	<div class="pagination">
    	<span class="step-links">
        	{% if catalog.has_previous %}
            	<a href="?page={{ catalog.previous_page_number }}">previous</a>
        	{% endif %}

        	<span class="current">
            	Page {{ catalog.number }} of {{ catalog.paginator.num_pages }}.
        	</span>

        	{% if catalog.has_next %}
            	<a href="?page={{ catalog.next_page_number }}">next</a>
        	{% endif %}
    	</span>
	</div>
{% endblock %}